/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


/* Style for App.js */
.container {
  min-height: 100vh;
  padding: 5em 0;
  background-color: #23252C;
}


/* Style for Info.js, About.js, Interests.js */
.section-container {
  display: flex;
  flex-direction: column;
  width: 425px;
  margin: 0 auto;
  color: #fff;
  background: #1A1B21;
}


/* Style for Info.js */
.info {
  align-items: center;
  gap: 2em;
}

.info-image {
  display: block;
  width: 100%;
  border-radius: .5em .5em 0 0;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25em;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.info-occupation,
.info-website {
  font-size: 1rem;
  font-weight: 400;
}

.info-occupation {
  color: #F3BF99;
}

.info-website {
  text-decoration: none;
  color: #fff;
  margin-top: .25em;
  opacity: .9;
}

.info-button-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2em;
  padding: 0 3.7em;
}

.info-button-links > a {
  width: 9em;
  padding: 1em .5em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: .5em;
}

.info-email {
  color: #374151;
  background-color: #fff;
}

.info-linkedin {
  color: #fff;
  background-color: #5093E2;
}

.info-icon {
  margin: 0 .5em;
}

.ninja-icon {
  animation: rotatingNinja 5s infinite;
}

@keyframes rotatingNinja {
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}


/* Style for About.js and Interests.js */
.about-interests {
  align-items: flex-start;
  gap: .5em;
  padding: 0 3.7em;
}

.about-interests-title,
.about-interests-text {
  text-align: left;
}

.about-interests-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.about-interests-text {
  margin-bottom: 2em;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.4;
}


/* Style for Footer.js */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  width: 425px;
  height: 1.5em;
  margin: 0 auto;
  padding: 2.5em 0;
  border-radius: 0 0 .5em .5em;
  background-color: #161619;
}

.footer a {
  text-decoration: none;
  color: #fff;
}

.footer-icon {
  height: 1.5em;
}

.flick {
  transition: 0.75s ease-in-out;
}

.flick:hover {
  transform: translateY(-5px);
}