/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #23252c;
}


/* Style for App.js */
.main-container {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  background: #1A1B21;
}


/* Style for Info.js, About.js and Interests.js */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19em;
  margin: 0 auto;
  color: #fff;
}

.card-container > * {
  width: 100%;
  text-align: center;
}


/* Style for Info.js */
.info-image {
  display: block;
  width: 100%;
}

.card-container-info {
  padding-top: 2em;
}

.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25em;
}

.info-title {
  font-size: 1.5rem;
}

.info-occupation {
  color: #F3BF99;
}

.info-icon {
  margin: 0 .5em;
}

.ninja-icon {
  animation: rotatingNinja 5s infinite;
}

@keyframes rotatingNinja {
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.info-website {
  margin-bottom: 1em;
  padding: 1em;
  text-decoration: none;
  color: #fff;
  opacity: .9;
}

.info-button-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.info-button-links > a {
  width: 9em;
  padding: 1em .5em;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: .5em;
}

.info-email {
  color: #374151;
  background-color: #fff;
}

.info-linkedin {
  color: #fff;
  background-color: #5093E2;
}


/* Style for About.js and Interests.js */
.about-interests-title {
  margin-bottom: .25em;
  font-size: 1.4rem;
  font-weight: 700;
}

.about-interests-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


/* Style for About.js */
.card-container-about {
  padding: 2em 0;
  opacity: .9;
}


/* Style for Interests.js */
.card-container-interests {
  padding-bottom: 2em;
  opacity: .9;
}


/* Style for Footer.js */
.card-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5em;
  margin: 0 auto;
  padding: 2em;
  background-color: #fff;
}

.card-container-footer a {
  text-decoration: none;
}

.footer-icon {
  height: 1.5em;
}

.footer-icon-twitter {
  color: #1DA1F2;
}

.footer-icon-youtube {
  color: #ef233c;
}

.footer-icon-github{
  color: #000;
}

.flick {
  transition: 0.75s ease-in-out;
}

.flick:hover {
  transform: translateY(-5px);
}


/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
  .main-container {
    margin: 4em auto;
  }

  .info-image {
    border-radius: .5em .5em 0 0;
  }

  .card-container-info {
    padding-top: 3em;
  }

  .card-container-about {
    padding: 2.4em 0 2em 0;
  }

  .card-container-interests {
    padding-bottom: 3em;
  }
  
  .card-container-footer{
    border-radius: 0 0 .5em .5em;
  }
}